/***** General Styles *****/
:root {
  font-size: 62.5%;

  /*** Colors ***/
  --primary-pink: hsla(320, 69%, 42%, 1);
  --secondary-dark-blue: hsla(244, 38%, 28%, 1);
  --gradient-dark-blues: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  --gradient-dark-pink: linear-gradient(134deg, #b52184 0%, #302c63 100%);
  --bg-ice: hsla(283, 47%, 97%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /*** Typography ***/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-ice);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/***** Utils *****/
.container {
  width: clamp(26rem, calc(100vw - 8rem), 121.8rem);
  margin-inline: auto;
}

/***** Hero *****/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-bottom: 9rem;
}

.hero-infos {
  align-self: center;
}

.hero-infos h1 {
  margin-bottom: 0.8rem;
  font-size: clamp(3.2rem, calc(2.5vw + 2rem), 5.828rem);
  color: var(--primary-pink);
}

.hero-infos p {
  font-size: clamp(2rem, calc(1.5vw + 1rem), 3.2rem);
}

.hero-infos svg {
  position: relative;
  top: 16rem;
}

.hero-infos svg path {
  animation: downUp 0.6s infinite alternate;
}

/***** Cards *****/
.cards {
  padding-block: 6.4rem;
  background-color: var(--secondary-dark-blue);
}

.cards.active .card {
  visibility: visible;
  animation: fadeInUp 0.5s ease-out;
}

.cards ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.cards .card {
  flex: 1 1 26rem;
  padding: 3.2rem;
  background-color: var(--white);
  border-radius: 2.4rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  visibility: hidden;
}

.cards .card:nth-child(2) {
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

.cards .card:nth-child(3) {
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

.cards .card img {
  margin-bottom: 4rem;
  transition: transform 0.8s;
}

.cards .card:hover img {
  transform: rotate(360deg);
}

.cards .card h2 {
  margin-bottom: 2.4rem;
  font-size: clamp(2.8rem, calc(1.5vw + 2rem), 3.53rem);
  color: var(--primary-pink);
}

.cards .card p {
  font-size: clamp(1.4rem, calc(1vw + 1.5rem), 1.8rem);
}

/***** Contact *****/
.contact {
  padding-block: 9.5rem;
  background: url('./assets/stars-pattern.png') no-repeat right bottom;
  background-size: auto 100%;
}

.contact h2 {
  margin-bottom: 3rem;
  font-size: clamp(3.2rem, calc(1.5vw + 2rem), 4.2rem);
  color: var(--primary-pink);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 59.2rem;
}

.contact .input-wrapper {
  display: flex;
  gap: 1.2rem;
  height: 4.8rem;
}

.contact .input-wrapper input,
.contact textarea {
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--secondary-dark-blue);
  background-color: transparent;
  border: none;
}

.contact .input-wrapper,
.contact textarea {
  padding: 1.2rem 1.4rem;
  border: 0.2rem solid var(--secondary-dark-blue);
  border-radius: 1.6rem;
}

.contact .input-wrapper input:focus,
.contact textarea:focus {
  outline: 0;
}

.contact .input-wrapper input::placeholder,
.contact textarea::placeholder {
  color: var(--secondary-dark-blue);
}

.contact .btn {
  position: relative;
  z-index: 1;
  width: fit-content;
  padding: 1.05rem 1.6rem;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--white);
  background-image: var(--gradient-dark-pink);
  border: none;
  border-radius: 1.6rem;
  cursor: pointer;
}

.contact .btn::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: var(--gradient-dark-blues);
  border-radius: inherit;
  transition: opacity 0.3s ease-out;
}

.contact .btn:hover::after {
  opacity: 0;
}

/***** Footer *****/
.footer {
  display: flex;
  justify-content: center;
  background-image: var(--gradient-dark-blues);
}

.footer p {
  padding: 3.2rem 1.6rem;
  font-size: 1.9381rem;
  color: var(--white);
}

/***** Responsive *****/
@media only screen and (max-width: 1600px) {
  .contact {
    background-size: contain;
  }
}

@media only screen and (max-width: 1190px) {
  /*** Contact ***/
  .contact {
    padding-block: 6.5rem;
    background: none;
  }

  .contact form {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  /*** Hero ***/
  .hero {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }

  .hero-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-infos h1 {
    margin-bottom: 0.5rem;
  }

  .hero-infos p {
    margin-bottom: 3.5rem;
  }

  .hero-infos svg {
    position: initial;
  }

  .hero-img {
    order: -1;
  }

  /*** Cards ***/
  .cards {
    padding-block: 5.3rem;
  }

  .cards ul {
    gap: 5rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: calc(100vw - 4rem);
  }
}

/***** Animations *****/
@keyframes downUp {
  0% {
    transform: translateY(-0.8rem);
  }

  100% {
    transform: translateY(0.8rem);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
